<div class="navbar">

    <div class="logo">
        <a routerLink="" id="GameWizard" >🛒 Game Wizards</a>
        <span class="country">INDIA</span>
    </div>

    <div class="nav-links">
        <a routerLink="/">Home</a>
        <a routerLink="/console">Gaming Console</a>
        <a routerLink="/games">Games</a>
        <a routerLink="/about">About Us</a>
    </div>

    <div class="auth-links">
        @if( isProfile == false){
        <a routerLink="/login" class="login-btn">Login</a>
        <a routerLink="/signup" class="signup-btn">Signup</a>
        }
        @else{
        <a routerLink="/profile" class="login-btn">&#128100;Profile</a>
        }
        <button routerLink="/addtocart" class="login-btn">&#128722;Cart</button>
    </div>



</div>
<hr>



<div class="slogan-div">
    <h1 class="slogan">We Buy ! We Sell! And We Repair!</h1>
</div>

<div class="hero-section">
    <button routerLink="/console" class="shop-btn">Shop Now!</button>
</div>

<footer class="footer">
  <div class="footer-container">

    <div class="footer-section">
      <h2 class="logo">GameWizards</h2>
      <p>Your ultimate destination for the latest gaming consoles in Vashi.</p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/console">Gaming Consoles</a></li>
        <li><a routerLink="/about">About Us</a></li>
        
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>📍 Vashi, Navi Mumbai</p>
      <p>📞 +91 98765 43210</p>
      <p>📞 +91 8928858366</p>
      <p>✉ gamewizards@gmail.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 GameWizards. All Rights Reserved.</p>
  </div>
</footer>